<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwwdsfUaZ2kRisT76DdFZy4imTrP7UEjE</string>
	<key>GCM_SENDER_ID</key>
	<string>102816750680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paw</string>
	<key>PROJECT_ID</key>
	<string>pawlay-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>pawlay-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102816750680:ios:329f10aaa1e1baa85cbe2d</string>
</dict>
</plist>